@charset "utf-8";
/* CSS Document */

/* PC */
@media screen and (min-width:801px) {
    .head {
        background-color: #6b9e5c;
    }

    .logo {
        width: 180px;
        height: 100%;
    }

    .logo_h1 img {
        width: 500px;
    }

    .aside {
        background-color: #dbeed5;
    }

    .aside_sub {
        color: white;
        background-color: #acd1a2;
    }

    .aside_link {
        color: #6b9e5c;
    }

    .aside_link:hover {
        color: #488a31;
    }

    .frame {
        background-color: #eee;
    }

    .select_ver {
        color: #fff;
    }

    .link {
        border-bottom: solid 1px #aaa;
    }

    .link div {
        color: #333;
    }

    .sub_link {
        color: #555;
        background-color: #ccc;
    }

    .link_flex {
        color: #333333;
    }
}

/* Mobile */
@media screen and (max-width:800px) {
    .head {
        background-color: #555;
        box-shadow: 0 0 5px #777;
    }

    .logo_h1 {
        width: 100%;
        height: 100%;
        display: flex;
        display: -webkit-flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    .logo_h1 img {
        max-width: 60%;
        max-height: 90%;
    }

    .frame {
        background-color: #ddd;
    }

    .footer {
        background-color: #555;
        box-shadow: 0 0 5px #777;
    }

    .menu_name {
        color: white;
    }

    .link {
        border-bottom: solid 1px #aaa;
    }

    .link div {
        color: #333;
    }

    .sub_link {
        color: #555;
        background-color: #ccc;
    }

    .link_flex {
        color: #333333;
    }
}

.copy {
    color: #6b9e5c !important;
}

a.copy:hover {
    color: #488a31 !important;
}